img{height: 150px;
    width: 150px;
    border-radius: 50%;}

body{background-color: #383838;
    color: #eaeaea;}

    h1, h3{color: #CDBE78;}
    h3{margin-bottom: 8px;}

    hr{border: none;
    height: 2px;
    margin: 26px;
  background: #066163;}
a{color: #088e91;}
